.App-header {
  height: 40px;
  background: lightgray;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
}

.logo {
  height: 30px;
  margin: 0;
  width: 120px;
}
.nav-btns {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
}
.nav-btns p {
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
}
.profile-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.score {
  width: 70px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid gray;
  gap: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  justify-content: center;
}
.second-header {
  background-color: #dbeef2;
  margin-bottom: 0;
  padding: 25px 0;
  margin: 0;
  text-align: center;
}
.second-header span {
  color: #00bcd4;
}
.third-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: #eff4f8;
  align-items: center;
}
.third-header span {
  color: #00bcd4;
}
.third-header h1 {
  margin: 0;
}
.drug-new-input {
  max-width: 100%;
  position: relative;
  width: 300px;
}
.new-input {
  background-color: #e0eaf3;
  border: none;
  border-radius: 22px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.search-icon {
  color: grey;
  height: 22px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 22px;
  vertical-align: middle;
}
.fourth-container {
  display: flex;
  flex-direction: row;
  padding: 15px 200px;
  gap: 50px;
}
.table-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 200px;
  gap: 50px;
  height: 260px;
}
.fourth-container p {
  width: 90%;
}
.btn {
  border: 1px solid gray;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background: #dbeef2;
}
.btn-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 20px;
}
.box {
  border: 2px solid;
  width: 40%;
  height: 100%;
}
.box-header {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid;

  font-weight: 600;
}
.box-conent {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.box-conent p {
  margin: 0;
  padding: 12px 0;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  width: 80%;
}
footer {
  background: #091634;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.first-ftr {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.first-ftr p {
  color: #fffefe;
}

.first-ftr ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.li {
  color: #fffefe;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}
.second-ftr {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.second-ftr h4 {
  color: #fffefe;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin: 0;
}
.second-ftr p {
  color: #fffefe;
  margin: 0 0 1px;
}
.detalis span {
  color: #3ec1d5;
  font-weight: 700;
}
.active {
  background: #3ec1d5;
  width: 50%;
  text-align: center;
}

.third-ftr h4 {
  color: #fffefe;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin: 0;
}
.third-ftr {
  width: 50%;
}
.other-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
.other-box {
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e0eaf3;
}
.other-box p {
  font-size: 12px;
}
.last-ft {
  background: #ffffff none repeat scroll 0 0;
  padding: 15px 0;
  text-align: center;
}
.copyright {
  margin: 0;
  color: #091634;
}
.ft-wrap {
  background: #091634;
  display: flex;
  flex-direction: row;
  padding: 40px 200px;
  gap: 15px;
}
.svg-wrap {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.ads-container {
  display: flex;

  gap: 5px;
  flex-direction: row;
  margin: 10px;
}
.ads-card {
  border: 1px solid #e0eaf3;
  padding: 20px;
  width: 32%;
  height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.ads-card p {
  margin: 0;
}
.ads-card h2 {
  margin: 0;
}
