.App-header {
  height: 40px;
  background: lightgray;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
}

.logo {
  height: 30px;
  margin: 0;
  width: 120px;
}
.nav-btns {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
}
.nav-btns p {
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
}
.profile-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.score {
  width: 70px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid gray;
  gap: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  justify-content: center;
}
.second-header {
  background-color: #dbeef2;
  margin-bottom: 0;
  padding: 25px 0;
  margin: 0;
  text-align: center;
}
.second-header span {
  color: #00bcd4;
}
.third-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: #eff4f8;
  align-items: center;
}
.third-header span {
  color: #00bcd4;
}
.third-header h1 {
  margin: 0;
}
.drug-new-input {
  max-width: 100%;
  position: relative;
  width: 300px;
}
.new-input {
  background-color: #e0eaf3;
  border: none;
  border-radius: 22px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.search-icon {
  color: grey;
  height: 22px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 22px;
  vertical-align: middle;
}
